/*  Clases generales */
body{
    background-color: black;
    color:#fff;
    margin: 0%;
}

article{

   background-color: rgb(44, 43, 43);
   padding: 1.5rem;
   border-bottom: 1px solid #fff;
}


#titulo_centrado{
   text-align: center;
   font-size: clamp(2rem, 1% + 2rem, 7rem);
   margin-top: 65px;
}
/* Terminan clases generales  */

/* barra de navegación */
.resaltado{
   color:yellow;
}

nav>ul>li{
   list-style: none;
}



nav>ul>li>a{
   text-decoration: none;
   color: #fff;

}

nav>ul>li>a:hover{
    color: greenyellow;
    text-decoration: underline;
 
 }

/* fin barra de navegación */

/* footer del blog */
@media(max-width:1024.1px){
#footer_blog{
    flex-direction: column;
    text-align: center;
}
}

#footer_blog{
   margin: 2rem;
   display: flex;
           align-items: center;
           justify-content: space-between;

}

/* fin del footer del blog */
/* ilustraciones */

.ilustracion{
   border: 4px solid #fff;
   display: inline-block;

}



.reto{
   margin-top: 1rem;
   margin-left: 1rem;
   font-style: italic;


}

/*GRID Y ORGANIZACIÓN*/
section{
   display: grid;
   grid-template-columns: 
   repeat(12, 1fr);
   gap: 12px;
   grid-auto-rows: auto;
       }

       main{
        grid-column: span 12;
    }

       @media(min-width:1024.1px){
       main{
           grid-column: span 8;
       }
    }
       header{
           grid-column: span 12;
       }

       
       nav{
           
           grid-column: span 12;
   
       }


       aside{
           grid-column: span 12;
       }
       @media(min-width:1024.1px){
       aside{
        grid-column: span 4;
    }
       }

      
       footer{
           grid-column: span 12;
           height:80px ;

           
       }
    
       nav{
           position: fixed;
           font-size: 1.3rem; 
           width: 100%;  
           background-color: black;
        }
   /*Finaliza grid*/

   /*style PAE 9 */

nav{
   font-size: 1.3rem;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
}

    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #fff;
        padding-bottom: 0.5rem;
   
    }

    @media (min-width: 1100px) {
        nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid red;
            }
        }

    article>header>hgroup{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    article>header>hgroup>h2{
        display: flex;
        align-items: center;
    }

    article>header>hgroup>h2>img{
        margin-right: 1rem;
    }

    #footer_blog div:nth-child(2) {
        font-size: 0.9rem;
    }

    aside>div>img {
        display: flex;
        justify-content: space-between;
        background-color:#ffffff;
        border-radius: 50%;
        padding: 0.5rem;
        margin: 0.9rem;
    }

    aside>div{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    @media (min-width: 1024.1px) and (max-width: 1324.1px) {
        aside div {
            flex-direction: column;
        }
    }

    aside>div>span{
        display:flex;
        align-items: flex-end;
        justify-content: space-between;
         }

         aside>h2{
             text-align: center;
             font-size:1.3rem;
           
         }

         aside>div:nth-of-type(odd){
             padding: 0.7rem;
             background-color:rgb(54, 53, 53);
             border-bottom: 1px dashed white;
         }
          aside>div:nth-of-type(even){
             padding: 0.7rem;
             background-color:rgb(44, 43, 43);
             border-bottom: 1px dashed white;
         }
/* fin ilustraciones */




/*DISEÑOS INDEPENDIENTES*/

div>ul>li>a{
    color: #fff;
}

div>ul>li{
    list-style: none;
}

.fondo{
    background-color: #fff;
    border: 1px solid #fff ;
    border-radius: 8px;
}

.g {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;

    border-bottom: 1px solid #fff;
    padding-bottom: 1.5rem;

    list-style: none;
    gap: 10px;
}

/*FIN DISEÑOS INDEPENDIENTES*/